body, html {
  height: 100%;
  margin: 0;
  font-family:Times New Roman, Arial; 
  background-color:#bdc5c7;
}

.hero-image {
    background-image:url("city%20copy.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}

.intro {
 	    text-align: center;
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 245%;}

.intro p {
     text-align: center;	
	font-weight: normal;
    position: 
    top: 100%;
    left: 50%;
	line-height: 1;
    color: black;
    font-size: 50%;}
/*some of these classes might impact different divs you use to set up your site. Within those divs you'll have paragraphs  and lists and images and headers . You can specificy the style for those specific elements like i've done below for paragraphs <p></p>*/

.twine {
	color: #c5786e;
background: #9f9f9d;}

.twine h3 {	
    position:absolute;
    top: 100%; left: 40%; right: 40%; text-align: center;  
	font-size: 200%;
	font-weight: bold;
	line-height: 1.5;}

.twine p { 

    position:absolute;
    top: 108%;left: 10%; right: 10%;text-align: center; 
	font-size: 125%;
	line-height: 1.5;}

.twine p1 { 
    position:absolute;
    top: 126%; left: 40%; right: 40%; text-align: center; 
	font-size: 20 ;
	line-height: 1.5;}
  
hr {
  height: 10px; 
  width: 100%; 
  color: #c5786e;
    
    position:absolute;
    top: 133%; text-align: center;
}


.digital {
	color: #c5786e;}

.digital h4 {	
    position:absolute;
    top: 134%; left: 40%; right: 40%; text-align: center;  
	font-size: 200%;
	font-weight: bold;
	line-height: 1.5;}

.digital p2 { 
    position:absolute;
    top: 145%;left: 10%; right: 10%;text-align: center; 
	font-size: 125%;
	line-height: 1.5;}

.digital p3 {position:absolute;
    top: 162%;left: 10%; right: 10%;text-align: center;}
  
.digital p4 {	
    position:absolute;
    top: 219%;left: 10%; right: 10%;text-align: center; 
	font-size: 125%;
	line-height: 1.5;}

.digital p5 {position:absolute;
    top: 232%;left: 10%; right: 10%;text-align: center;}

.digital p6 {	
    position:absolute;
    top: 288%;left: 10%; right: 10%;text-align: center; 
	font-size: 125%;
	line-height: 1.5;}

.digital p7 {position:absolute;
    top: 303%;left: 10%; right: 10%;text-align: center;}

.pgh {
	color: #c5786e;}

.pgh h5 {	
    position:absolute;
    top: 102%; left: 35%; right: 35%; text-align: center;  
	font-size: 200%;
	font-weight: bold;
	line-height: 1.5;}

.pgh p8 { 
    position:absolute;
    top: 127%;left: 2%; right: 70%;text-align:; 

	line-height: 1.5;}

.pgh p9 { 
    position:absolute;
    top: 129%;left: 30%; right: 10%;text-align:left; 
	font-size: 150%;
	line-height: 1.5;}

.pgh p10 { 
    position:absolute;
    top: 212%;left: 70%; right: 2%;text-align:; 

	line-height: 1.5;}

.pgh p11 { 
    position:absolute;
    top: 214%;left: 10%; right: 30%;text-align:right; 
	font-size: 150%;
	line-height: 1.5;}

.pgh p13 { 
    position:absolute;
    top: 295%;left: 2%; right: 70%;text-align:; 

	line-height: 1.5;}

.pgh p14 { 
    position:absolute;
    top: 297%;left: 30%; right: 10%;text-align:left; 
	font-size: 150%;
	line-height: 1.5;}


@media screen and (min-width: 1000%) {
    .twine, .pgh, .intro, .digital}
		/* This section adjusts non-mobile screens*/
        margin: auto; /* how much space do you want on either side of your content? auto makes it equal on both sides*/
        width: 70%; /*how much space do you want your content to take up? */
        padding: 2px; /*how much space between specific divs do you want */
        font-size: 100%; /*this makes the font on a larger screen bigger than on a mobile device*/
    }
}

@media screen and (max-width: 800px) {
    .twine, .pgh, .into}
		/* This section adjusts mobile screens*/
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: : 50px;
    }
}



